@import "tailwindcss";

body{
    max-width: 1024px;
    background-image: url(../Spider\ Man.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}
.onhover:hover{
    scale: 1.1;
}
.newbody{
    background-image: url(../Spider\ Man.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}